.custom-maintitle {
    font-size: 12rem;
  }
  
  /* 모바일 화면에서의 스타일 */
  @media (max-width: 768px) {
    .custom-maintitle {
      font-size: 6rem; 
      margin-bottom: 45px;
    }
  }
  
  .custom-subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  
  .custom-subtitle {
    font-size: 25px;
    margin: 0 10px; /* 좌우 여백 설정 */
  }
  
  @media (max-width: 768px) {
    .custom-subtitle-container {
      flex-direction: column; /* 세로 배열로 변경 */
    }
  
    .custom-subtitle {
      margin: 5px 0; 
    }
  }
  