/* 버튼 기본 스타일 */
.custom-button {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 0.25rem; /* Tailwind CSS의 rounded 클래스와 동일 */
  outline: none;
  transition: duration-300 ease-in-out;
  transform: translate-y-0;
}

.custom-button:hover {
  transform: translate-y-1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* 모바일 화면에서의 버튼 스타일 */
@media (max-width: 640px) {
  .custom-button {
    /* 모바일 화면에서 적용할 스타일 */
    padding: 6px 12px; /* 예시: 패딩을 조금 줄임 */
    font-size: 0.875rem; /* 예시: 글씨 크기를 조금 줄임 */
  }
}

/* 기본 스타일 */
.custom-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 24px; 
  height: 24px;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-right: 8px; 
}

.custom-radio::before {
  content: '';
  position: absolute;
  top: 2px; 
  left: 2px; 
  width: 16px; 
  height: 16px; 
  border-radius: 50%;
  background: #fff;
  transition: background 0.2s;
}
@media (min-width: 760px) {
  .custom-radio::before  {
    top: 2px; 
    left: 2px; 
    width: 18px; 
    height: 18px; 
  }
}
.submitbutton {
  background-color: #FF6133;
}
.custom-radio:checked {
  border-color: #FF6133;
}

.custom-radio:checked::before {
  background: #FF6133;
}


.custom-radio:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.textarea-container {
  min-height: 160px; /* Adjust the height based on your textarea */
  transition: visibility 0.3s, opacity 0.3s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.submit-button-container {
  position: fixed; /* Make the button fixed at the bottom */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
}

.submit-button {
  width: 21%;
  padding-top: 10px;
  background: #FF6133;
}
@media (max-width: 640px) {
  .submit-button {
    width: 80%; /* Adjust the width based on the padding of the container */
  }
}