
/* 기본 스타일 */
.header-logo {
    height: 60px; /* 기본 로고 크기 */
  }
.header-text {
    font-size: 25px;
}
 
  
  @media screen and (max-width: 640px) {
    .header-logo {
      height: 50px; /* 작은 크기 화면에서의 로고 크기 */
    }
  
    .header-text {
      font-size: 1.125rem; 
    }
  }
  