.custom-signuptitle {
    font-size:3.75rem;
}

.custom-nextbutton1 {
    display:inline-block;
    font-size:2rem;
    text-align: center;
}
/* 모바일 화면에서의 스타일 */
@media (max-width:768px){

    .custom-signuptitle{
        font-size:4rem;
        text-align:right;
        display:block;
        
    }

    .custom-arrow {
        padding-left:50px;
        padding-right:50px;
    }

    p {
        text-align: left;
        font-size:2rem;
        padding-left:30px;
    }

    .custom-ho {
        width:35rem;
    }
    .custom-text {
        font-size:1.6rem;
        padding-left:0.2rem;
    }
    .custom-check {
        margin-left:-3rem;
        display: flex;
        flex-direction: row; /* 수평 방향으로 정렬 */
        align-items: flex-start; /* 왼쪽 정렬 */
    }
    button {
        width:1.5rem;
        height:4rem;
    }
    .custom-nextbutton1 {
        height:4rem;
        width:4rem;
        white-space: nowrap;
        width:90%;
        padding: 14px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
    }
    .custom-agreeform {
        width:85%;
    }
}
