@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

footer,
header,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 2.5rem;
}

@media (max-width: 1200px) {

    h1,
    .h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

h2,
.h2 {
    font-size: 2rem;
}

@media (max-width: 1200px) {

    h2,
    .h2 {
        font-size: calc(1.325rem + 0.9vw);
    }
}

h3,
.h3 {
    font-size: 1.75rem;
}

@media (max-width: 1200px) {

    h3,
    .h3 {
        font-size: calc(1.3rem + 0.6vw);
    }
}

h4,
.h4 {
    font-size: 1.75rem;
}

@media (max-width: 1200px) {

    h4,
    .h4 {
        font-size: calc(1.275rem + 0.3vw);
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col-sm-auto,
.col-md-6,
.col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm-auto {
        flex: 0 0 100%;
        width: auto;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (max-width: 767px) {
    .title-big {
        display: none;
    }
}

.card {
    position: relative;
    display: flex;
    height: 42rem;
    width: 90%;
    flex-direction: column;
    background-color: #F4F4F4;
    background-clip: border-box;
    border: 1px solid black;
    font-weight: 600;
}

.card-header {
    flex: 1 1 auto;
    height: 240px;
    padding: 35px;
    border-bottom: 1px solid black;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    height: 60%;
    word-break: break-all;
}

.card-footer {
    border-top: 1px solid black;
}

.card-img,
.card-img-top {
    position: absolute;
    top: 0;
    right: 0;
    flex-shrink: 0;
    width: 25%;
    padding: 1.25rem;
}

time {
    font-size: 17px;
}

.tag {
    background-color: #D9D9D9;
    flex-shrink: 0;
}

.tag:hover {
    background-color: #67DB97;
}

.d-block {
    display: block !important;
}

.align-items-center {
    align-items: center !important;
}

.position-relative {
    position: relative !important;
}

.m-0 {
    margin: 0 !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}


body {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
}

.text-para {
    font-size: 20px;
    line-height: 28px;
}

li {
    list-style-type: none;
}

.align-center {
    align-self: center;
}

/*-- container --*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*-- container --*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1500px;
    }
}

/*-- //container --*/
.title-big {
    font-size: 38px;
    line-height: 45px;
    font-weight: 700;
}

@media (max-width: 1080px) {
    .title-big {
        font-size: 32px !important;
        line-height: 40px;
    }
}

@media (max-width: 568px) {
    .title-big {
        font-size: 30px !important;
        line-height: 38px;
    }
}

@media (max-width: 415px) {
    .title-big {
        font-size: 28px !important;
        line-height: 34px;
    }
}

@media (max-width: 375px) {
    .title-big {
        font-size: 26px !important;
        line-height: 32px;
    }
}

.w3l-courses .course-details {
    position: relative;
    padding: 35px;
}

.blog-meta {
    display: flex;
    padding: 0;
    list-style: none;
}

.blog-meta li a {
    font-size: 18px;
    color: var(--heading-color);
    line-height: 36px;
}

.blog-meta li a:hover {
    color: #ED6C43;
}

ul.blog-meta li {
    display: flex;
    flex: 1;
    /* 나머지 영역을 동일하게 차지하도록 설정 */
    justify-content: center;
    /* 가운데 정렬을 위한 설정 */
    align-items: center;
    /* 세로 가운데 정렬을 위한 설정 */
}

.blog-meta li:first-child {
    flex: 0 0 60%;
    /* 첫 번째 li에 60%의 고정된 가로 넓이를 설정 */
    border-right: 1px solid black;
}

.card-header h4 {
    font-weight: 700;
    width: 70%;
    word-break: keep-all;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.card-header h5 {
    margin-top: 1rem;
    font-weight: 700;
    color: #545655;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    color: black;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.modal-text {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

.modal button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 2rem;
    background-color: #f0f0f0;
    border-radius: 8px;
}