.custom-noexist {
    font-size: 3rem;
}
.custom-check {
    font-size: 2.25rem;
}
.custom-checkb {
    font-size: 1.875rem;
}
/* 모바일 화면에서의 스타일 */
@media (max-width:768px){
    .custom-noexist {
        font-size:2.5rem;
    }
    .custom-check {
        font-size:2rem;
        text-align:center;
        padding-left:7rem;
    }
    .custom-checkb {
        height:5rem;
        width:4rem;
        white-space: nowrap;
        width:70%;
        padding: 14px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
    }
}