.custom-logintitle {
    font-size:2.8rem;
    margin-left:-6rem;
}

.custom-info1 {
    text-align: center;
    font-size: 1.4rem;
}

.custom-loginbutton1 {
    display:inline-block;
    font-size:1.6rem;
    text-align: center;
    width:65%;
}

.custom-logininput::placeholder {
    text-align:right;
}

.custom-loginlabel {
    font-size: 1rem;
}

.custom-links {
    font-size: 1.2rem;
    margin-right: 2rem;
}

.custom-form1 {
    width:62%;
}

@media (min-width:576px) and (max-width:767px) {
    .custom-logintitle{
        font-size:3rem;
        text-align:right;
        display:block;
    }
    .custom-logininput {
        text-align:left;
        width: 100%;
        color:white;
        max-width: 100%; /* 최대 너비를 100%로 설정하여 가로폭에 꽉 차게 함 */
        height:3.5rem;
        padding-left: 6rem;  
    }
    .custom-loginbutton1 {
        height:3.5rem;
        width:4rem;
        white-space: nowrap;
        width:90%;
        padding: 5px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
    }
    .custom-form1 {
        text-align: center;
        justify-items: center;
        width: 90%;
        margin: 0 auto; /* 가운데 정렬을 위해 추가 */
    }
}

/* 모바일 화면에서의 스타일 */
@media (min-width:768px) and (max-width:991px) {

    .custom-logintitle{
        font-size:3rem;
        text-align:center;
        display:block;
        margin-right:5rem;
        
    }

    .custom-arrow {
        margin-right:5rem;
    }

    .custom-info1 {
        font-size:1.5rem;
        text-align: left;
        margin-left:-0.5rem;
    }

    .custom-form1 {
        text-align: center;
        justify-items: center;
        width: 90%;
        margin: 0 auto; /* 가운데 정렬을 위해 추가 */
    }

    .custom-logininput {
        text-align:left;
        width: 95%;
        color:white;
        max-width: 100%; /* 최대 너비를 100%로 설정하여 가로폭에 꽉 차게 함 */
        height:3.5rem;
        padding-left: 6rem;  
    }
    .custom-loginbutton1 {
        height:3.5rem;
        width:4rem;
        white-space: nowrap;
        width:90%;
        padding: 5px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
    }
    .custom-logininput::placeholder {
        margin-left:-7rem;
        padding-left:3rem;
    }
    .custom-loginform {
        width:90%;
    }
    .custom-loginlabel {
        font-size:1rem;
        margin-top:15px;
    }
    hr {
        margin-top:1rem;
    }
    .custom-links {
        font-size:1rem;
        margin-left: 1.4rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .custom-logintitle{
        font-size:3rem;
        display:block;
    }
    .custom-loginbutton1 {
        display:inline-block;
        font-size:1.6rem;
        text-align: center;
    }
    .custom-logininput {
        text-align:left;
        width: 100%;
        color:white;
        max-width: 100%; /* 최대 너비를 100%로 설정하여 가로폭에 꽉 차게 함 */
        height:3.5rem;
        padding-left: 6rem;  
    }

 } 

@media (min-width: 1200px) {  }