.custom-findtitle {
    font-size: 3rem;
    margin-left:-5rem;
}
.custom-findinfo {
    font-size: 1.5rem;
    text-align: center;
}
.custom-findlabel1, .custom-findlabel2 {
    font-size: 1rem;
}
.custom-nextbutton {
    font-size: 2rem;
    width:50%;
}
.custom-tologin {
    font-size: 2rem;
    width:50%;
    white-space: nowrap;
    padding: 8px 0;
}
.custom-findinput1::placeholder {
    text-align:right;
}
.custom-findinput2::placeholder {
    text-align:center;
    opacity:0.6;
}
.custom-findform2 {
    width:100%;
}

/* 모바일 화면에서의 스타일 */
@media (max-width:768px){
    .custom-arrow {
        margin-left:-2rem;
        margin-right:5rem;
    }
    .custom-findtitle {
        font-size:2.1rem;
        text-align:right;
    }
    .custom-findform1 {
        width:85%;
    }
    .custom-findinfo {
        font-size: 1.3rem;
        text-align: left;
        margin-left:-0.5rem;
    }
    .custom-findinput1, .custom-findinput2 {
        width: 90%;
        max-width: 100%; /* 최대 너비를 100%로 설정하여 가로폭에 꽉 차게 함 */
        height:3.5rem;
        padding-left: 5rem;  
    }
    .custom-findlabel1 {
        font-size:1rem;
        margin-top:14px;
    }
    .custom-findlabel2 {
        font-size:1rem;
        margin-top:10px;
    }
    .custom-nextbutton {
        padding-left:230px;
        height:4.8rem;
        width:4rem;
        white-space: nowrap;
        width:90%;
        padding: 14px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
    }
    .custom-tologin {
        padding-left:230px;
        height:3.5rem;
        width:4rem;
        font-size:1.7rem;
        white-space: nowrap;
        width:90%;
        padding: 8px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
    }
    .custom-findinput1::placeholder {
        margin-left:-7rem;
        padding-left:3rem;
    }
    .custom-findinput2::placeholder {
        margin-left:-7rem;
        padding-left:3rem;
    }

}