.custom-signuptitle {
    font-size:2.8rem;
    margin-left:-5rem;
}

.custom-info2 {
    font-size: 1.5rem;
    text-align: center;
}

.custom-signupform2 {
    width:100%;
}

.custom-label {
    font-size: 1rem;
}

.custom-endbutton1 {
    font-size: 1rem;
}

.custom-sendbutton {
    font-size: 1rem;
}

.custom-endbutton2 {
    font-size: 1.3rem;
    width:50%;
    white-space: nowrap;
    padding: 14px 0;
}

.custom-input1::placeholder {
    text-align:right;
}

.custom-input3::placeholder {
    text-align:center;
    opacity:0.6;
}

/* 모바일 화면에서의 스타일 */
@media (max-width:768px){

    .custom-signuptitle{
        font-size:3rem;
        text-align:right;
        display:block;
        
    }
    .custom-arrow {
        margin-left:-2rem;
        margin-right:5rem;
    }
    .custom-info2 {
        font-size:1.5rem;
        text-align:center;
        margin-left:-3.5rem;
    }
    .custom-label {
        font-size:1rem;
        margin-top:15px;
    }
    .custom-input1, .custom-input3 {
        width: 90%;
        max-width: 100%; /* 최대 너비를 100%로 설정하여 가로폭에 꽉 차게 함 */
        height:3.5rem;
        padding-left: 5rem;
        text-align: center;

    }
    .custom-endbutton1 {
        padding-left:30px;
        height:3.5rem;
        width:4.5rem;
        white-space: nowrap;
        padding: 14px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
       
    }
    .custom-sendbutton {
        padding-left:1.4rem;
        height:3.5rem;
        width:7.5rem;
        white-space: nowrap;
        padding: 14px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
    }
    .custom-signupform1 {
        width:85%;
    }
    .custom-input2 {
        width:8rem;
    }
    .custom-endbutton2 {
        padding-left:230px;
        height:3.5rem;
        width:4rem;
        white-space: nowrap;
        width:90%;
        padding: 14px 0; /* 내부 패딩을 추가하여 버튼의 세로 중앙으로 텍스트를 위치시킴 */
        
    }

    .custom-input1::placeholder {
        margin-left:-7rem;
    }
    .custom-input3::placeholder {
        margin-left:-8rem;
    }
    hr {
        margin-top:1rem;
    }
}
